<% include partials/header %>
<h1>You fell in love with: <%= thingvar.toUpperCase() %></h1>

<% if(thingvar.toLowerCase()==="rusty"){ %>
    <p>good choice</p>
<% } else{ %>
    <p>bad choice</p>
<% } %>

<p>this is love.ejs file</p>

<% include partials/footer %>